<div class="middleOfPage">
<h1 class="headerOrange">
    Education
</h1>

<div class="bloc">
    <p><span class="headerOrange">2020 / En cours :</span> Master 1 et 2 Informatique</p>
    <p class="blue">Campus Academy – Aix-En-Provence</p>
    <p>Développement Logiciel, Web et Mobile</p>
</div>

<div class="bloc">
    <p><span class="headerOrange">2017 / 2019 :</span> Bachelor 1 à 3 Informatique</p>
    <p class="blue">Ynov Campus – Aix-En-Provence</p>
    <p>Développement Logiciel / Web et Infrastructure puis développement lo-giciel</p>
</div>

<div class="bloc">
    <p><span class="headerOrange">2016 / 2017 :</span> License 1 Science pour Ingénieur</p>
    <p class="blue">Université de Toulon</p>
    <p>Etude de science pour ingénieur / Développement Python</p>
</div>
</div>