<div class="middleOfPage">
    <h1 class="headerOrange">
        Hobbies / Langues / Autres
    </h1>
    
    <div class="bloc">
        <p><span class="headerOrange">Sports :</span></p>
        <p>Escalade, Salle de sport, Tennis.</p>
    </div>
    
    <div class="bloc">
        <p><span class="headerOrange">Hobbies :</span></p>
        <p>Cinéma, Séries, Jeux vidéo, Entretien d’ordinateur</p>
    </div>

    <div class="bloc">
        <p><span class="headerOrange">Langues :</span></p>
        <p>Anglais Fluent</p>
    </div>

    <div class="bloc">
        <p><span class="headerOrange">Le petit plus :</span></p>
        <p>Capable de régler le conflit « Pain au chocolat / Chocolatine » en apportant des croissants le matin</p>
    </div>
    </div>