.fullWidth {
  width: 100%;
  height: 30%;
  background-color: #4040e060;
}

.leftSide {
  text-align: center;
  float: left;
  width: 50%;

}

.rightSide {
  text-align: center;
  float: right;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.darkBlue {
  color: #4040e0;
}

.orangeText {
  color: rgb(255, 165, 0);
}
.separatorLine {
  width: 100%;
    height: 1px;
    background-color: #4040e0;
    margin-top: 10px;
    margin-bottom: 10px;
}