<div class="fullWidth">
    <div class="leftSide">
        <h1>CURRICULUM <span class="orangeText">VITAE</span></h1>
        <h1 class="darkBlue">NICOLAS GERARD</h1>
        <h2>DevOps Engineer</h2>
    </div>
    <div class="rightSide">
        <a href="https://github.com/NicolasGerard " target="_blank">GitHub</a>
        <a href="https://gitlab.com/LaPatateDor" target="_blank">GitLab</a>
        <a href="https://linkedin.com/in/nicolas-gerard-914bbb150/" target="_blank">Linkedin</a>
    </div>

</div>