<div class="middleOfPage">

    <h1 class="headerOrange">
        Emplois / Experiences
    </h1>

    <mat-tab-group class="tabGroup" [backgroundColor]="'primary'" [color]="'warn'">
        <mat-tab class="fullWidth" label="En cours" > <div class="bloc">
            <p><span class="headerOrange">2019 - En cours :</span> J2E / AngularJS Développer Agirc-Arrco</p>
            <p class="blue">3 jours par semaine : Développeur full stack Java / AngularJS</p>
            <p>Contrat d’alternance en professionnalisation au sein de l’organisme de re-traite complémentaire Agirc-Arrco.</p>
            <p>Missions de développement de Back end avec logique métier, appel en BDD (PostgreSQL) et création de Web services Soap et Rest.</p>
            <p>Développement en Front end avec le Framework Vaadin pour J2E avec création d’IHM.</p>
            <p>Développement d’outil internes et d’IHM en AngularJS.</p>
        </div> </mat-tab>
        <mat-tab class="fullWidth" label="2018"> <div class="bloc">
            <p><span class="headerOrange">2018 – 2019 ( 1 an ) :</span> Startup Underlink</p>
            <p class="blue">1 journée par semaine : Développeur Web</p>
            <p>Développement du site pour la Startup Underlink au sein d’Ynov, appren-tissage du Framework AngularJS ainsi que CodeIgniter.</p>
        </div>
    
        <div class="bloc">
            <p><span class="headerOrange">2018 – 2019 ( 1 an ) :</span> Projet Transverse</p>
            <p class="blue">8h par semaine : Infrastructure</p>
            <p>Projet Transverse Scolaire sur toute l’année, gestion de l’infrastructure et de systèmes informatiques.</p>
        </div>
    
        <div class="bloc">
            <p><span class="headerOrange">2018 – ( CDD 1 mois ) :</span> Docteur IT 83 – Toulon Ollioules</p>
            <p class="blue">CDD 35h/Semaine : Technicien / Vendeur</p>
            <p>Vente d’accessoire téléphonique, gestion des stock / commandes et livrai-son de pièces, Réparation d’appareil Téléphoniques, Consoles de jeux, Or-dinateurs.</p>
        </div>
    
        <div class="bloc">
            <p><span class="headerOrange">2018 – ( Stage 1 Mois ) :</span> Docteur IT 83 – Toulon Ollioules</p>
            <p class="blue">Stage 35h/semaine : Technicien / Vendeur</p>
            <p>Stage dans le cadre de la formation Ynov, Apprentissage au fonctionne-ment du site intranet Docteur IT, apprentissage sur les composants télé-phoniques et leurs procédures de réparations.</p>
        </div> </mat-tab>
        <mat-tab class="fullWidth" label="2017">  <div class="bloc">
            <p><span class="headerOrange">2017 – 2018 ( 1 an ) :</span> Startup Global Hackcess</p>
            <p class="blue">1 journée par semaine : Développeur Web</p>
            <p>Développement de plusieurs sites et pages Web afin de faire un concours de « Hacking », Renseignement sur les différentes failles / injections Web qui rendent les sites Web Faillibles.</p>
        </div>
    
        <div class="bloc">
            <p><span class="headerOrange">2017 – 2018 ( 1 an ) :</span> Projet Développement</p>
            <p class="blue">8h par semaine : Développeur Web</p>
            <p>Développement de plusieurs sites Web, commerciaux et administratifs dans le cadre de plusieurs projets scolaire.</p>
        </div> </mat-tab>
      </mat-tab-group>

</div>