.container {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
}

.menu {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}