<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over"  class="menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/experiences" routerLinkActive="active">Experiences</a>
      <a mat-list-item routerLink="/education" routerLinkActive="active">Education</a>
      <a mat-list-item routerLink="/competences" routerLinkActive="active">Competences</a>
      <a mat-list-item routerLink="/hobbies" routerLinkActive="active">Hobbies</a>
      <a mat-list-item routerLink="/lazyLoaded" routerLinkActive="active">Lazy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="menuToggle()"> <mat-icon>menu</mat-icon> </button>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- LazyLoading, WebWorker, Service Worker -->