<div class="middleOfPage">
    <h1 class="headerOrange">
        Competences
    </h1>
    
    <div class="bloc">
       <h2 class="headerOrange">JAVA / J2E</h2>
        <p>Programmation orientée objet</p>
    </div>
    
    <div class="bloc">
        <h2 class="headerOrange">Javascript et Frameworks</h2>
        <p class="blue">VueJS</p>
        <p>Développement de sites web</p> <br/>
        <p class="blue">AngularJS</p>
        <p>Développement de sites web</p><br/>
        <p class="blue">React Native</p>
        <p>Développement Mobile</p><br/>
        <p class="blue">NodeJS</p>
        <p>Développement logiciel / Api</p>
     </div>

     <div class="bloc">
        <h2 class="headerOrange">MongoDB :</h2>
         <p>Base de données noSQL</p>
     </div>

    </div>