/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.headerOrange { color: #ff7402; }
.middleOfPage { margin-left: 10%; }
.blue { color: #4040e0; }
.bloc { margin-top: 50px; margin-bottom: 20px; }