<div class="middleOfPage">
    <h1 class="headerOrange">
        Experience
    </h1>
    <p>5 ans d’étude et de projets en Développement</p>
    <p>3 ans de développement en Java J2E et AngularJS</p>

    <h1 class="headerOrange">
        Actuellement
    </h1>
    <p>Depuis Septembre 2020 : Campus Academy Aix-En-Pce</p>
    <p>Ecole Privée d’études supérieures </p>
    <p>Formation supérieure d’ingénierie informatique, Année de Master 2 en dé-veloppement</p>


</div>